<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Про сайт</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Привіт. Мене звати Марія. Я живу в місті Санта Клара, Каліфорнія, і маю невелику україньску бібліотеку. Сайт "Собацюрка" створений, щоб поділитись з усіма бажаючими наявними в мене книжками. Тематика бібліотеки дуже різноманітна та навіть хаотична, але переважно я купляю видання українських авторів, які не моють електронного формата.</p>
      </div>
      <div class="col-lg-4">
        <p>Щоб позичити книжку напишіть у формі Зворотнього звʼязку або напряму в соціяльні мережі (посилання є внизу сторінки) і ми обовʼязково домовимось про час зустрічі. А якщо у вас є час та бажання познайомитись ближче, то можете писати "ідем на каву!" :)</p>
      </div>
    </div>
  </div>
</section>
